<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<main ng-controller="admin-book-ctrl">
		<h1  style="text-align: center;">Danh sách các quyển sách</h1>
		<div>
			<div th:replace="/admin/book/_form.html"></div>
			<hr>
			<div th:replace="/admin/book/_table.html"></div>
		</div>
	</main>
</table>
</body>
</html>