
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>Hình ảnh</th>
						      <th>Tên sách</th>
						      <th>Tên tác giả</th>
						      <th>Tên nhà xuất bản</th>
						      <th>Năm phát hành</th>
                              <th>Thể loại</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="b in retaildetail">
						      <th><img th:src="@{|/assest/image/products/{{b.books.image}}|}" style="max-width:50px; max-height: 175px;"></th>
						      <td>{{b.books.bname.bookname}}</td>
						      <td>{{b.books.authors.authorname}}</td>
						      <td>{{b.books.publishers.publishername}}</td>
						      <td>{{b.books.bname.bookreleaseyear}}</td>
                              <td>{{b.books.categories.categoryname}}</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
