<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}" >  
<title>Admin Dashboard Library</title>
<style>
/* Custom styles here */
body {
	padding-top: 20px;
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f8f9fa;
	padding-top: 20px;
}

.content {
	margin-left: 250px;
	padding: 20px;
}
</style>
</head>
<body>
	<main class="container-fluid">
		<div>
			<div class="row">
				<!-- Main Content -->
				<div class="col-md-9 content">
					<ng-view></ng-view>
					<h1>{{ pageTitle }}</h1>
					<div ng-show="isBookListShown">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên sách</th>
									<th>Giá</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="book in books">
									<td>{{ book.isbn13 }}</td>
									<td>{{ book.title }}</td>
									<td>{{ book.price }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-show="isAccountListShown">
						<!-- Add account list content here -->
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên tài khoản</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="account in accounts">
									<td>{{ account.id }}</td>
									<td>{{ account.username }}</td>
									<td>{{ account.email }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	
		<!-- JavaScript Libraries -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script
	
	</main>
</body>
</html>
