<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles here */
        body {
            padding-top: 20px;
        }
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f8f9fa;
            padding-top: 20px;
        }
        .content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
</head>
<body ng-app="adminApp">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <h3>Admin</h3>
                <ul class="list-group">
                    <li class="list-group-item"> <a href="#/">Trang chủ</a> </li>
                    <li class="list-group-item"> <a href="#/products">Danh sách sản phẩm</a> </li>
                    <li class="list-group-item"> <a href="#/accounts">Danh sách tài khoản</a> </li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 content">
                <div ng-view></div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

    <!-- AngularJS App and Routing -->
    <script>
        var app = angular.module('adminApp', ['ngRoute']);

        app.config(function ($routeProvider) {
            $routeProvider
                .when('/', {
                    template: '<h1>Trang chủ</h1>'
                })
                .when('/products', {
                    template: '<h1>Danh sách sản phẩm</h1>'
                })
                .when('/accounts', {
                    template: '<h1>Danh sách tài khoản</h1>'
                })
                .otherwise({
                    redirectTo: '/'
                });
        });
    </script>
</body>
</html>