<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
th:replace="~{/layout/index :: dynamic(~{::main})}"    >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main th:object="${rental}" class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Chi tiết mượn sách</h2>
        </div>
      </div>
      <div>
        <div class="form-group">
            <label for="username">Tài khoản mượn:</label>
            <input class="form-control" id="username" th:field="*{accounts.username}" disabled></div>
        </div>
        <div class="form-group">
            <label for="fullname">Họ tên người mượn:</label>
            <input class="form-control" id="fullname" th:field="*{fullname}" disabled>
        </div>
        <div class="form-group">
            <label for="diaChi">Địa chỉ:</label>
            <input type="text" class="form-control" id="diaChi" th:field="*{address}" disabled>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" disabled>
        </div>
        <div class="form-group">
            <label for="sdt">Địa chỉ:</label>
            <input type="text" class="form-control" id="sdt" th:field="*{phonenumber}" disabled>
        </div>
        <div class="form-group">
            <label for="ngayMuon">Ngày mượn:</label>
            <input type="date" class="form-control" id="ngayMuon" th:field="*{retaildate}" disabled>
        </div>
        <div class="form-group">
            <label for="ngayTra">Ngày trả:</label>
            <input type="date" class="form-control" id="ngayTra" th:field="*{returndate}" disabled></input>
        </div>
      </div>
        <hr>
        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Hình</th>
                      <th>Tên sách</th>
                      <th>Tên tác giả</th>
                      <th>Tên nhà xuất bản</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="detail: *{details}" th:object="${detail}">
                      <td><img th:src="@{|/assest/image/products/*{books.image}|}" alt="Book Cover" class="img-fluid" style="height: 100%; width: 50px;;"></td>
                      <td>[[*{books.bname.bookname}]]</td>
                      <td>[[*{books.authors.authorname}]]</td>
                      <td>[[*{books.publishers.publishername}]]</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </main>
</body>
</html>