<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Book Detail</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="../assest/css/styles.css" rel="stylesheet" />
</head>

<body>
    <main th:object="${item}" ng-controller="book-detail-controller">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-3">
                    <img th:src="@{|/assest/image/products/${item.image}|}" alt="Book Cover" class="img-fluid"
                        style="max-width: 250px; margin-left: 15px;">
                </div>
                <div class="col-md-9">
                    <h1>[[${item.bname.bookname}]]</h1>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p><h4>Nhà xuất bản</h4> <img th:src="@{|/assest/image/publishers/${item.publishers.publisherimage}|}"
                                style="width: 25px; height:25px; border-radius:50% ; margin-right:5px;"><h6>[[${item.publishers.publishername}]]</h6></p>
                                <p>
                                <h4>Tác giả</h4>
                                <h6> <img th:src="@{|/assest/image/authors/${item.authors.authorimage}|}"
                                        style="width: 25px; height:25px; border-radius:50% ; margin-right:5px;">
                                    [[${item.authors.authorname}]]</h6>
                                </p>
                                <p>
                                <h4>Năm xuất bản</h4> [[${item.bname.bookreleaseyear}]]</p>
                                <p>
                        </div>
                        <div class="col">
                            <p><h4>Nhà phát hành</h4> <h6><img th:src="@{|/assest/image/issuers/${item.issuer.issuerimage}|}"
                                style="width: 25px; height:25px; border-radius:50% ; margin-right:5px;"> [[${item.issuer.issuername}]]</h6></p>
                            <p><h4>Loại bìa</h4>[[${item.hardcover}?'Bìa cứng':'Bìa mềm']]</p>
                            <p><h4>Thể loại</h4>[[${item.categories.categoryname}]]</p>
                        </div>
                    </div>
                    <hr>
                    <h4>Nội dung:</h4>
                    <div ng-style="expandText">[[${item.bname.bookdescription}]]</div> <button style="border:none;"
                        ng-click="toggleText()" ng-bind="buttonText"></button> </p>
                    <hr>
                    <a th:href="@{|/qltv/products/pdf/${item.bookid}|}" class="btn btn-primary">
                        <i class="bi-book me-1"></i>
                        Đọc sách Online
                    </a>
                    <a th:href="@{|/assest/pdf/${item.pdf}|}" class="btn btn-secondary" th:attr="download=${item.pdf}">
                        <i class="bi-download me-1"></i>
                        Tải PDF
                    </a>
                    <th:block th:if="${#request.remoteUser}">
                        <th th:if="${item.available}">
                            <button th:attr="ng-click=@{|cart.add(${item.bookid})|}" class="btn btn-success">
                                <i class="bi-bookmark-plus me-1"></i>
                                Mượn sách (bản cứng)
                            </button>
                        </th>&nbsp
                        <th th:if="!${item.available}">
                            <h3><span class="badge bg-danger" style="margin-top: 10px;  width: 270px;">Sản phẩm đã hết
                                    hàng</span></h3>
                        </th>
                    </th:block>
                </div>
                <div th:attr="ng-init=@{|bookid = ${item.bookid}|}" id="bookid" hidden>[[${item.bookid}]]</div>
                <div class="container mt-4">
                    <h4>User Comments</h4>
                    <ul class="list-unstyled" ng-repeat="cm in comment.pager.items">
                        <li class="mb-2">
                            <img class="card-img-top justify-content-center" src="/assest/image/users/{{cm.accounts.accountdetail.image}}" style="height: 25px; width: 25px; margin: auto; margin-top: 15px;"/>
                            <h5>{{cm.commentdes}}</h5>
                        </li>
                    </ul>
                    <th:block th:if="${#request.remoteUser}">
                        <form method="post" >
                            <div class="mb-3">
                                <label for="commentInput" class="form-label">Bình luận của bạn</label>
                                <textarea class="form-control" id="commentInput" rows="3" ng-model="commentform.commentdes"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" th:attr="ng-click=@{|comment.addComment(${item.bookid})|}">Submit</button>
                        </form>
                    </th:block>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS -->
</body>

</html>