<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
th:replace="~{/layout/index :: dynamic(~{::main})}"    >



<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style href="/assest/css/products/product.css"></style>
</head>
<body>
	<main class="row">
		<header class="bg-image py-5" style="
        background-image: url('https://static01.nyt.com/images/2015/10/24/opinion/24manguel/24manguel-superJumbo.jpg');
        height: 50vh;
">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Thư viện trực tuyến</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bạn có thể đọc qua trang web hoặc mượn sách bản cứng</p>
                </div>
            </div>
        </header>
		<div th:each="p:${items}" class="container px-4 px-lg-5 mt-5 col-sm-4">
			<div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top justify-content-center" th:src="@{|/assest/image/products/${p.image}|}" style="width:50%;"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h3 class="fw-bolder" th:text="${p.name}"></h3>
							<h6 th:text="${p.pname}"></h6>
							<h5 th:text="${p.author}"></h5>
                            <!-- Product price-->
                            <div th:text="${p.yearpub}"></div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center mrgBtm" style="margin-bottom: 15px;"><a class="btn btn-outline-dark mt-auto" th:href="@{|/qltv/products/detail/${p.bookid}|}" >Chi tiết</a></div>
                        <th:block th:if="${#request.remoteUser}">
                            <div class="text-center mrgBtm"><button class="btn btn-outline-dark mt-auto" th:attr="ng-click=@{|cart.add(${p.bookid})|}" >Mượn</button></div>
                        </th:block>
                    </div>
                </div>
            </div>
		</div>
	</main>
</body>
</html>